.container {
    font-size: 19px;
}

header {
    background-color: #333;
}

img {
    display: block;
    border: none;
    margin: auto;
    max-height: 75px;
    max-width: 180px;
}

.list-nav {
    background: #333;
    padding: 0;
    text-align: center;
}

nav ul li{
    font-size: 70%;
}
.top {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.banner {
    font-size: 130%;
    background-color: #eaf5e9;
    padding: 5px 15px;
    border-radius: 2px;
    margin-top: 1em;
    text-align: center;
}

.banner-p {
    margin: 10px;
}

.downloadhead {
    margin-top: 24px;
    font-size: 140%;
    text-align: center;
}

a {
    color: #43853d;
}

.lts-links, .current-links {
    padding: 0;
    text-align: center;
}

.buttonbox {
    margin-top: 0;
}

.btn {
    background-color: #43853d;
    border-color: #43853d;
    border-radius: 0;
}

ul li {
    list-style: none;
    font-size: 15px;
    display: inline;   
}

.schedule {
    text-align: center;
}

.newsletter {
    text-align: center;
    padding: 0;
}

